@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-md-6 col-sm-6">
        More about upcoming features and whatnot.
    </div>
    <div class="col-md-3 col-sm-6">
        More about upcoming features and whatnot.
    </div>
    <div class="col-md-3 col-sm-6">
        More about upcoming features and whatnot.
    </div>
</div>

<button class="btn btn-danger">Stranger Danger</button>
<button class="btn btn-primary">Primary Button</button>
<button class="btn btn-success">Successful Button</button>
<a class="btn btn-secondary" href="https://google.com"> Google It!</a>

<div class="alert alert-secondary alert-dismissible fade show" role="alert">
    <strong>Yo, Dawg!</strong> You should check in on some of those fields below.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

