@{
    ViewData["Title"] = "Home";
}
@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <p><strong>@TempData["Message"]</strong></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<div class="jumbotron">
    <h1 class="display-4"> Welcome to Tanner's Gaming Emporium</h1>
    <p class="lead">Where we sell an assortment of games and gaming accessories</p>
</div>

<div class="alert alert-primary alert-dismissible fade show" role="alert">
    <strong>Welcome!</strong> You should check out our assortment of games! 
    <a asp-controller="Library" asp-action="Index">Game Library</a>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form method="post">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="email">Email: </label>
            <input for="email" />
            <span>*</span>
            <br />
        </div>
        <div class="form-group col-md-4">
            <label for="name">Full Name: </label>
            <input for="name" />
            <span>*</span>
            <br />
        </div>
    </div>

    <input type="submit" value="Subscribe to TGE!" />
</form>

