@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Lorem ipsum dolor sit amet, enim case torquatos cum ea. Quo melius numquam salutatus no,
    ius iudico omnium patrioque ex. Duo ut unum duis nobis, cum ea convenire torquatos,
    meis denique laboramus ad eum. Vide putant incorrupte ad has, quo ad fugit detraxit.
    Mei cu aliquam eloquentiam. Vix eu ludus suscipit adipiscing.<br /><br />

    Natum modus recteque cum ea. No qui fastidii molestie facilisis. Velit delectus eam at.
    Ne illum graece detracto pro. Tractatos democritum ut sed, aliquam fabulas ne usu.
    Sed ne laoreet imperdiet definiebas, has audire nominati id.
    Natum modus recteque cum ea. No qui fastidii molestie facilisis. Velit delectus eam at.
    Ne illum graece detracto pro. Tractatos democritum ut sed, aliquam fabulas ne usu.
    Sed ne laoreet imperdiet definiebas, has audire nominati id.<br /><br />

    Sit omittam inciderint definitionem no. Eu impetus facilisis pro.
    Duo id tollit efficiantur. Ad qui alia erroribus, ei pri molestie facilisis democritum.
    Dicit melius reformidans et nec.
    Sit omittam inciderint definitionem no. Eu impetus facilisis pro.
    Duo id tollit efficiantur. Ad qui alia erroribus, ei pri molestie facilisis democritum.
    Dicit melius reformidans et nec.<br />
</p>
