@model VideoGame
@{
    ViewData["Title"] = "Add new game";
}

<h1>Add a new game</h1>

<form method="post">
    <div class="form-group">
        <input asp-for="Title" placeholder="Game Title" />
        <span asp-validation-for="Title" class="text-danger"></span>
        <br />
    </div>

    <div class="form-group">
        <input asp-for="Rating" placeholder="ESRB Rating" />
        <span asp-validation-for="Rating" class="text-danger"></span>
        <br />
    </div>

    <div class="form-group">
        <input asp-for="Description" placeholder="Description" />
        <span asp-validation-for="Description" class="text-danger"></span>
        <br />
    </div>

    <div class="form-group">
        <input asp-for="Price" placeholder="Price" />
        <span asp-validation-for="Price" class="text-danger"></span>
        <br />
    </div>

    @if (@TempData["Error"] == null)
    {
        <input type="submit" value="Add Game" class="btn btn-primary" />
    }
    else
    {
        <input type="submit" value="Add Game" class="btn btn-danger" />
    }

</form>

@*
    Add reference to Jquery validation which
    does client validation
*@
<partial name="_ValidationScriptsPartial" />